In [1]:
import pandas as pd
import glob

In [2]:
# Get all CSV files in data folder that start with 'weather'
files = glob.glob('../data/weather_*.csv')

# Read and combine
dfs = [pd.read_csv(f) for f in files]
weather_data = pd.concat(dfs, ignore_index=True)

# Show first few rows
weather_data.head()

ValueError: No objects to concatenate

In [3]:
import glob, os
files = glob.glob('../data/*.csv')
for f in files:
    print(os.path.basename(f))
print("\nFound", len(files), "CSV file(s).")

bengaluru-meteorology-summary-jan-2015.csv
bengaluru-meteorology-summary-jul-2015.csv

Found 2 CSV file(s).

In [4]:
import pandas as pd

# Load both datasets
jan = pd.read_csv('../data/bengaluru-meteorology-summary-jan-2015.csv')
jul = pd.read_csv('../data/bengaluru-meteorology-summary-jul-2015.csv')

# Combine them into one DataFrame
weather_data = pd.concat([jan, jul], ignore_index=True)

# Show first few rows and info
display(weather_data.head())
weather_data.info()

# Save the combined file
weather_data.to_csv('../data/bangalore_weather.csv', index=False)
print("✅ Combined and saved as bangalore_weather.csv")

   2015  01  01.1  00     0.00    25.53    18.68     2.39   162.86
0  2015   1     1   1      0.0    25.49    18.20     1.87   155.61
1  2015   1     1   2      0.0    29.63    18.23     2.03   141.82
2  2015   1     1   3      0.0   203.54    19.64     2.67   148.87
3  2015   1     1   4      0.0   436.56    21.12     2.63   156.17
4  2015   1     1   5      0.0   687.95    22.50     3.38   166.69

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8686 entries, 0 to 8685
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   2015     8686 non-null   int64
 1   01       8686 non-null   int64
 2   01.1     8686 non-null   int64
 3   00       8686 non-null   int64
 4      0.00  8686 non-null   float64
 5     25.53  8686 non-null   float64
 6     18.68  8686 non-null   float64
 7      2.39  8686 non-null   float64
 8    162.86  8686 non-null   float64
dtypes: float64(5), int64(4)
memory usage: 610.9 KB
✅ Combined and saved as bangalore_weather.csv

In [5]:
import pandas as pd

# Reload the combined weather file
weather_data = pd.read_csv('../data/bangalore_weather.csv', header=None)

# Assign proper column names (based on IMD data structure)
weather_data.columns = [
    "Year", "Month", "Day", "Hour",
    "Rainfall_mm", "SolarRadiation_Wm2",
    "Temperature_C", "WindSpeed_mps", "WindDirection_deg"
]

# Show first few rows
display(weather_data.head())

# Save the cleaned version
weather_data.to_csv('../data/bangalore_weather_clean.csv', index=False)
print("✅ Cleaned and saved as bangalore_weather_clean.csv")

,Year,Month,Day,Hour,Rainfall_mm,SolarRadiation_Wm2,Temperature_C,WindSpeed_mps,WindDirection_deg
0,2015,1,1.1,0,0.0,25.53,18.68,2.39,162.86
1,2015,1,1.0,1,0.0,25.49,18.20,1.87,155.61
2,2015,1,1.0,2,0.0,29.63,18.23,2.03,141.82
3,2015,1,1.0,3,0.0,203.54,19.64,2.67,148.87
4,2015,1,1.0,4,0.0,436.56,21.12,2.63,156.17

✅ Cleaned and saved as bangalore_weather_clean.csv