In [1]:
import pandas as pd
import numpy as np
import random

# --- Define route info ---
routes = [
    {"route_id": "R1", "route_name": "Majestic to Whitefield", "distance_km": 22},
    {"route_id": "R2", "route_name": "Majestic to BTM", "distance_km": 9},
    {"route_id": "R3", "route_name": "Silk Board to Hebbal", "distance_km": 20},
    {"route_id": "R4", "route_name": "KR Market to Yeshwantpur", "distance_km": 13},
    {"route_id": "R5", "route_name": "Banashankari to ITPL", "distance_km": 18},
    {"route_id": "R6", "route_name": "Electronic City to Majestic", "distance_km": 25},
    {"route_id": "R7", "route_name": "BTM to Marathahalli", "distance_km": 10},
    {"route_id": "R8", "route_name": "Majestic to Airport", "distance_km": 35},
    {"route_id": "R9", "route_name": "Madiwala to Peenya", "distance_km": 21},
    {"route_id": "R10", "route_name": "Koramangala to MG Road", "distance_km": 6}
]

# --- Define simulation parameters ---
days = pd.date_range(start="2025-01-01", periods=30)
time_slots = ["Morning", "Afternoon", "Evening", "Night"]
weather_types = ["Sunny", "Rainy", "Cloudy", "Foggy"]

data = []

for day in days:
    for route in routes:
        for slot in time_slots:
            weather = random.choice(weather_types)
            temp = round(random.uniform(20, 33), 1)
            rain = round(random.uniform(0, 10), 1) if weather == "Rainy" else 0

            # Base passengers by route distance
            base_passengers = route["distance_km"] * random.uniform(3, 7)

            # Adjust by time
            if slot == "Morning":
                base_passengers *= 1.5
            elif slot == "Evening":
                base_passengers *= 1.4
            elif slot == "Night":
                base_passengers *= 0.8

            # Adjust by weather
            if weather == "Rainy":
                base_passengers *= 1.2
            elif weather == "Sunny" and temp > 32:
                base_passengers *= 0.9

            passenger_count = int(base_passengers + random.randint(-10, 10))
            passenger_count = max(5, passenger_count)  # no negatives

            data.append([
                day.strftime("%Y-%m-%d"),
                route["route_id"],
                route["route_name"],
                slot,
                weather,
                temp,
                rain,
                passenger_count
            ])

# --- Create DataFrame ---
df = pd.DataFrame(data, columns=[
    "Date", "Route_ID", "Route_Name", "Time_Slot",
    "Weather", "Temperature_C", "Rainfall_mm", "Passenger_Count"
])

# --- Save CSV ---
df.to_csv("../data/passenger_demand.csv", index=False)

print("✅ passenger_demand.csv created successfully!")
print("Rows:", len(df))
df.head(10)

✅ passenger_demand.csv created successfully!
Rows: 1200

,Date,Route_ID,Route_Name,Time_Slot,Weather,Temperature_C,Rainfall_mm,Passenger_Count
0,2025-01-01,R1,Majestic to Whitefield,Morning,Cloudy,20.9,0.0,181
1,2025-01-01,R1,Majestic to Whitefield,Afternoon,Foggy,24.0,0.0,148
2,2025-01-01,R1,Majestic to Whitefield,Evening,Sunny,28.6,0.0,176
3,2025-01-01,R1,Majestic to Whitefield,Night,Sunny,27.5,0.0,58
4,2025-01-01,R2,Majestic to BTM,Morning,Rainy,20.9,8.1,109
5,2025-01-01,R2,Majestic to BTM,Afternoon,Rainy,22.3,4.7,48
6,2025-01-01,R2,Majestic to BTM,Evening,Sunny,24.1,0.0,44
7,2025-01-01,R2,Majestic to BTM,Night,Sunny,31.1,0.0,41
8,2025-01-01,R3,Silk Board to Hebbal,Morning,Foggy,22.0,0.0,199
9,2025-01-01,R3,Silk Board to Hebbal,Afternoon,Cloudy,29.8,0.0,125